<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="jumbotron text-center">
            <div class="container">
                <a href="/" class="lang-logo">
                    <img src="/lang-logo.png">
                </a>
            </div>
            <h4>This bot aint smart (yet),it'll just echo back what you said</h4>
        </div>
        <iframe width="600px" height="300px" src='https://webchat.botframework.com/embed/kittykat?s=rozmzzMsZCo.cwA.VEg.Ksw4IwMOxPBQDLqvsLFONKaURP8zOkBJAO-Fx4a9yvI'></iframe>
        </div>
        </div>


</body>

</html>